<div class="posting_form top_content">
    <header class="posting_header">
      
      <div class="posting_user_info user_info">
       
      </div>
    </header>
    <% if user_signed_in? %> 
    <%= form_for(@question) do |f| %>
      <%= f.text_field :text %>
      <%= f.submit "質問する" %>
    <% end %>
  </div>
  <%= render partial: "questions/question", collection: @questions %>
  <% else %>
   <%= render partial: "questions/question", collection: @questions %>
  <% end %>