  
  <% if user_signed_in? %>
  <%= form_tag('/questions/search', method: :get) do %>
  <input class="search__query" name="keyword" placeholder="質問で検索" type="text" ><button class="row form" title="検索" type="submit"><i class="icon-search"></i></button></input>
  <% end %>
　


    
  
  
</ul>
  
  <div class="posting_form top_content">
    <header class="posting_header">
     
      <div class="posting_user_info user_info">
        <%= current_user.name %>
      </div>
    </header>
    
    <%= form_for(@question) do |f| %>
      <%= f.text_field :text%>
      <%= f.submit "質問する" %>
    </div>
    <% end %>
  　
    
  　<% @questions.each do |question| %>
  　<%= render @questions %>
  　 <% end %>
  
  
  <% else %>
  <%= render @questions %>
  <%= paginate(@questions) %>
  <% end %>
  


